
@font-face {
  font-family: 'HK Grotesk Pro';
  src: url('../files/fonts/HKGroteskPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src: url('../files/fonts/HKGroteskPro-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src: url('../files/fonts/HKGroteskPro-SemiBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}