// #TABLE

table {
  position: relative;
  display: block;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  vertical-align: top;

  tr {
    border-bottom: 1px solid $grey;

    &:first-child {
      font-weight: bold;
      border-top: 2px solid $grey;
    }

    &:last-child {
      border-width: 2px;
    }

    &.tr--updated {
      background-color: fade-out($blue, 0.8);
    }
  }

  th {
    text-align: left;
  }

  td {
    min-width: 12em;
    max-width: 12em;
    overflow: hidden;

    &.td--updated {
      background-color: fade-out($blue, 0.8);
    }
  }

    .th--pinned,
    .td--pinned {

    }
}